*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   background-color:black;
    }
   
    div.introduce{
        margin: 0;
        width: 1005;
        height: 100px;
        background: rgb(17,18,18);
        background: linear-gradient(39deg, rgba(17,18,18,1) 8%, rgba(20,18,18,1) 44%, rgba(249,2,2,0.8188317563353467) 100%, rgba(7,7,8,0.7796160700608368) 300%);
    }
    h1.introduce{
        padding-top: 30px;
        color: wheat;
        padding-left: 50px;
    }
        
    ul.header{
        display: flex;
    justify-content: space-evenly;
        list-style-type: none;
        background-color: black;
        margin: 0;
        padding: 0;
        
    
    }
    li a{
        text-decoration: none;
        color: wheat;
        display: inline-block;
        
       
    
    }
    li.header{
        display: inline-block;
        padding: 20px;
        
        
        
    }
    
    li a:hover{
        color: red;
    }
    div{
        width: 100%;
        height: 50px;
        background-color: red;
       display: inline-block;
       margin: 0;
        
        
    
    }
    
    p{
        color: wheat;
        text-align: center;
    
    }
    a{
        text-decoration: none;
        color: wheat;
    
    }
    a:hover{
        color: black;
    }
    img.w1{
        width: 100%;
        height: 400px;
    }
    p.w1{
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px blue;
        font-size: xx-large;
    }
    h1.w1{
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px blue;
        font-size: 50px;
        
    }
    
    img.w2{
        width: 50%;
        height: 400px;
       display: block;
       margin: auto;
        margin-top: 80px;

    }
    img.w3{
        width: 200px;
        height: 200px;
       display: block;
       margin: auto;
        margin-top: 100px;
        margin-bottom: 3px;
    }
    h1.w3{
        color: white;
        margin-top: 40px;
        text-align: center;
        text-shadow: 2px 2px 2px blue;

        

    }
    h2.w3{
        color: white;
        margin-top: 40px;
        text-shadow: 2px 2px 2px blue;
        text-align: center;
        
    }
    p.w3{
        color: white;
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
        text-shadow: 2px 2px 2px blue;
        
    }
    img.w4{
        width: 200px;
        height: 200px;
       display: block;
       margin: auto;
        margin-top: 100px;
        margin-bottom: 3px;
    }
    h1.w4{
        color: white;
        text-align: center;
        margin-top: 100px;
    }
    p.w4{
        color:blue;
        text-align: center;
        font-size: x-large;
        padding-top: 30px;

    }
    div.footer{
        width: 100%;
        height: 100px;
        background-color:#333 ;
        margin-top: 50px;
    }
    ul.footer{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
    li.footer{
        padding-top: 40px;
        cursor: pointer;
        color: black;
    } 
    div.end{
        background-color: white;
        width: 100%;
        height: 70px;
    }
    p.end{
        padding-top: 30px;
        text-align: center;
        color: #333;
    }